@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-gradient {
  background: -webkit-linear-gradient(top, transparent 59px, #707070 60px),
    -webkit-linear-gradient(left, transparent 59px, #707070 60px);
  background-size: 60px 60px;
  background-color: #efece7;
}
